.projects-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 700px;
  border-radius: 15px;
  box-shadow:  var(--shadow);
  margin-bottom: 30px;
  background-color: var(--card-background-color);
}

.image {
  height: 50vw;
  max-height: 400px;
  width: 100%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 300px);
  overflow: hidden;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: var(--card-background-color);
}

.card-text-wrapper h2 {
  margin: 0;
  font-size: 26px;
  background-color: var(--card-background-color);
}

.card-text-wrapper p {
  margin: 10px 0 10px 0;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--card-background-color);
}

.card-text-wrapper a {
  color: var(--primary-color);
  font-size: 22px;
  text-decoration: none;
  background-color: var(--card-background-color);
}

.card-text-wrapper a:hover {
  color: var(--primary-color-highlighted);
  text-decoration: underline;
  background-color: var(--card-background-color);
}

.card-text-wrapper a:active {
  color: var(--primary-color-active);
  text-decoration: underline;
  background-color: var(--card-background-color);
}

.card-text-wrapper div {
  background-color: var(--card-background-color);
}

.card-text {
  background-color: var(--card-background-color);
}

