.success-box, .error-box {
  border-radius: 10px;
  height: 50px;
}

.success-box {
  color: #270;
  background-color: #DFF2BF;
}

.error-box {
  color: #D8000C;
  background-color: #FFBABA;
}

.success-box, .error-box p {
  padding: 0 10px 0 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.dismiss-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;  
}