.success-box {
  opacity: .8;
  width: 100%;
  margin: 3vh auto;
  color: #270;
  background-color: #DFF2BF;
  padding-left: 10px;
}

.error-box {
  opacity: .8;
  margin: 3vh auto;
  width: 100%;
  color: #D8000C;
  background-color: #FFBABA;
  padding-left: 10px;
}