.success-box, .error-box {
  border-radius: 10px;
  height: 50px;
  padding: 0 10px 0 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.success-box {
  color: var(--success-text-color);
  background-color: var(--success-background-color);
}

.error-box {
  color: var(--failure-text-color);
  background-color: var(--failure-background-color);
}

.dismiss-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}