.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.contact-button {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  text-decoration: none;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-weight: bold; 
  list-style-type: none;
}

.contact-button:hover {
  background-position: right center;
  color: #fff;
}

.portrait-wrapper {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.4);
}

.portrait {
  height: 300px;
  width: 350px;
  
}

.content .description {
  margin: 0 20% 0 20%;
  text-align: justify;
}