.form-wrapper {
  width: 100%;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input {
  font-size: 20px;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 10px;
}

.contact-form textarea {
  font-size: 20px;
  height: 200px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 10px;
  border: 1px solid darkgray;
  padding: 10px;
}

.contact-form button {
  height: 40px;
  background: var(--primary-color);
  color: white;
  box-shadow: var(--contact-shadow);
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
}

.contact-form button:hover {
  background-position: right center;
  background: var(--primary-color-highlighted);
}

.contact-form button:active {
  background: var(--primary-color-active);
}