.contact-form label {
  font-weight: bold;
}

.contact-form textarea {
  font-size: 20px;
  height: 200px;
  margin-bottom: 10px;
  resize: none;
}

.contact-form input {
  font-size: 20px;
  margin-bottom: 10px;
  border: 0.5px solid black;
}

.contact-form button {
  width: 20%;
  height: 40px;
}