* {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  min-height: calc(100vh - 75px);
}

.content p {
  line-height: 2;
  font-size: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
