.nav-content-left {
  flex: 1;
}

.nav {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  opacity: .95;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  left: 0;
}

.nav ul {
  padding-left: 10px;
}

.nav li {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
  height: 100px;
  font-size: 18px;
}

.nav li:hover {
  text-decoration: underline;
  color: var(--primary-color-highlighted);
}

.mobile-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
}

.dark-mode-switch-mobile {
  position: fixed;
  right: 20px;
  top: 20px;
  background: none;
}

.hamburger {
  background: none;
  border: none;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.ex-mark span:nth-child(1) {
  background-color: black;
  opacity: 1;
  transform: rotate(45deg) translate(0, -2px);
}

.ex-mark span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.ex-mark span:nth-last-child(1) {
  background-color: black;
  transform: rotate(-45deg) translate(0, -2px);
}

.mobile-nav-side-menu {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
}

.mobile-nav-side-menu ul {
  margin-top: 20vh;
  padding: 0;
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-side-menu li {
  font-size: 36px;
  list-style: none;
  background: none;
  color: black;
  padding: 12px 0;
  width: 100%;
  text-align: center;
}

mobile-nav-side-menu li:active {
  background-color: white;
}

.slide-in {
  animation: slide-in 0.15s forwards ease-in;
}

.slide-out {
  animation: slide-out 0.15s forwards ease-in;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.mobile-nav-side-menu li:active {
  background-color: var(--primary-color-active);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}