.nav-content-left {
  flex: 1;
}

.nav {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%; 
  background: white; 
  opacity: .95;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  left: 0;
}

.nav ul {
  padding-left: 10px; 
}

.nav li {
  display: inline; 
  padding: 10px;
  text-decoration: none;
  color: black;
  height: 100px;
  font-size: 18px;
}

.nav li:hover {
  text-decoration: underline;
  color: #00A3FF;
}